/* ========================================================================================================= */
/*  기본으로 필요한 CSS 코드들                                                                                    */
/* ========================================================================================================= */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera*/

}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}

a{text-decoration: none;}
a:link {color:rgb(46, 100, 180);}
a:visited {color:rgb(46, 100, 180);}
a:hover {color:rgb(46, 100, 180);}
a:active {color:rgb(46, 100, 180);}

.draggable {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}

li {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}

.footer {
  display: block;
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 70px;
  bottom: 0;
  text-align: center;
  background: rgba(10, 10, 10,0.8);
  color:white;
}

.mainDiv {
  width:1100px;
  display: block;
  position: relative;
  padding:50px;
  top:80px;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 200px;
  height: 1200px;
  color:black;
}

/* ========================================================================================================= */
/*  기본으로 필요한 CSS 코드들                                                                                    */
/* ========================================================================================================= */

.titleDiv {
  width: 100%;
  height: 300px;
  display: block;
  color:white;
}

.titleImageDiv {
  width: 100%;
  position: relative;
  height: 300px;
  background-color: yellow;
}

.titleImageBackground {
  width: 100%;
  position: absolute;
  height: 100%;
  transform : translate(-50%,-50%);
  left:50%;
  top:50%;
}

.titleImageContent {
  width: 100%;
  position:absolute;
  transform : translate(-50%,-50%);
  left:50%;
  top:50%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.titleImageLogo {
  display: block;
  transform: translateX(-50%);
  margin-top: 20px;
  left:50%;
  position: relative;
  width: 60%;
  margin-bottom: 30px;
}

.MainTitle {
  font-size: 18px;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 20px;
  margin-top: 20px;
  color:white;
}

hr {
  margin: 20px 0px;
}

.subDivTitle{
  display: block;
  text-align: left;
  border-left : 15px solid rgb(31, 52, 139);
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.subDivTitle {
  font-size: 25px;
  color:rgb(46, 46, 46);
  font-weight: bold;
}


.playInfoTable_Web {
  display: table;
  width: 100%;
  padding-top: 20px;
}

.playInfoTable_Web tr:first-child {
  background-color : #e8e8e8;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.playInfoTable_Web tr:last-child {
  background-color : #f5f5f5;
  height: 50px;
}

.playInfoTable_Mobile {
  display: none;
}

.BarMask {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin: 20px 0px;
  overflow: hidden;
}

.BarMask div {
  float:left;
  height: 100%;
  text-align: right;
  line-height: 20px;
  font-size: 10px;
  color:white;
  padding-right: 20px;
  overflow: hidden;
}

.BarMask div:last-child {color:#202020}
.ToDoBar { background-color: rgb(73, 73, 73);}
.InProgressBar { background-color: rgb(13, 110, 224);}
.DoneBar { background-color: rgb(219, 219, 219);}

/* ========================================================================================================= */
/*  모바일 버전 코드                                                                                             */
/* ========================================================================================================= */
@media(max-width:1200px) {
  .mainDiv {
    top:20px;
    padding-top:10px;
  }

  .mainDiv {
    width:90vw;
    top:15px;
    margin-bottom: 120px;
    border:none;
  }

  .titleDiv {
    height: 30vw;
  }

  .titleImageDiv {
    height: 30vw;
  }

  .titleImageLogo {
    width : 80%;
    margin-bottom: 10px;
  }

  .MainTitle {
    font-size: 12px;
    background-color: rgba(0,0,0,0.8);
    padding: 5px 15px;
    margin-top: 5px;
  }

  .playInfoTable_Web {
    display: none;
  }

  .playInfoTable_Mobile {
    display: table;
    width: 100%;
    padding-top: 20px;
  }

  .playInfoTable_Mobile tr td:first-child {
    background-color : #e8e8e8;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
  }

  .playInfoTable_Mobile tr td:last-child {
    background-color : #f5f5f5;
    font-size: 16px;
    padding: 10px;
  }

  .playInfoSub {
    font-size: 12px;
  }
}
