/* ========================================================================================================= */
/*  기본으로 필요한 CSS 코드들                                                                                    */
/* ========================================================================================================= */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera*/
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

a{text-decoration: none;}
a:link {color:rgb(46, 100, 180);}
a:visited {color:rgb(46, 100, 180);}
a:hover {color:rgb(46, 100, 180);}
a:active {color:rgb(46, 100, 180);}

.draggable {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}

li {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}

.footer {
  display: block;
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 70px;
  bottom: 0;
  text-align: center;
  background: rgba(10, 10, 10,0.8);
  color:white;
}

.mainDiv {
  width:1100px;
  display: block;
  position: absolute;
  padding:50px;
  padding-top:10px;
  top:120px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  height: auto;
  color:black;
  padding-bottom: 100px;
}

/* ========================================================================================================= */
/*  기본으로 필요한 CSS 코드들                                                                                    */
/* ========================================================================================================= */

.titleDiv {
  width: 100%;
  height: 300px;
  display: block;
  color:white;
}

.titleImageDiv {
  width: 100%;
  position: relative;
  height: 300px;
}

.titleImageBackground {
  width: 100%;
  position: absolute;
  height: 100%;
  transform : translate(-50%,-50%);
  left:50%;
  top:50%;
}

.titleImageContent {
  width: 100%;
  position:absolute;
  transform : translate(-50%,-50%);
  left:50%;
  top:50%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.titleImageLogo {
  display: block;
  transform: translateX(-50%);
  margin-top: 20px;
  left:50%;
  position: relative;
  width: 60%;
  margin-bottom: 30px;
}

.MainTitle {
  font-size: 18px;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 20px;
  margin-top: 20px;
  color:white;
}

hr {
  margin: 20px 0px;
}

.subDivTitleSub {
  line-height: 35px;
  color:grey;
  margin-top: 10px;
}

.subDivTitle{
  display: block;
  text-align: left;
  border-left : 15px solid rgb(31, 52, 139);
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  font-size: 25px;
  color:rgb(46, 46, 46);
  font-weight: bold;
}

.RealBG {
  width: 1100px;
  height: calc(1100px * 0.3333);
  background: url('../IMG/RealBG.png');
  filter: contrast(150%);
  background-size: cover;
  margin-top: 20px;
  position: relative;
  color : white;
}

.RealBGTimeStamp {
  display: block;
  font-size: 18px;
}

.RealBGLocation {
  display: block;
  font-size: 12px;
}

.RealBGDesc {
  position: absolute;
  left : 15px;
  bottom: 15px;
}

.playInfoSub {
  font-size: 12px;
}

.playInfoTable_Web {
  display: table;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.playInfoTable_Web tr:first-child {
  background-color : #e8e8e8;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.playInfoTable_Web tr:last-child {
  background-color : #f5f5f5;
  height: 70px;
}

.playInfoTable_Mobile {
  display: none;
}

.BarMask {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin: 20px 0px;
  overflow: hidden;
}

.BarMask div {
  float:left;
  height: 100%;
  text-align: right;
  line-height: 20px;
  font-size: 10px;
  color:white;
  padding-right: 20px;
  overflow: hidden;
}

.BarMask div:last-child {color:#202020}
.ToDoBar { background-color: #494949;}
.InProgressBar { background-color: #0d6ee0;}
.DoneBar { background-color: #dbdbdb;}


.KanbanScrollDiv {
  width: calc(100% - 50px);
  height: 480px;
  position: absolute;
  display: block;
  bottom:20px;
  transform: translateX(-50%);
  left:50%;
  border : 1px solid #929292;
  background-color: #f1f1f1;
  padding : 5px;
}

.KanbanScrollDivChild::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera*/
}

.KanbanScrollDivChild{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  width:100%;
  height: 100%;
  overflow: scroll;
}

.KanbanBoardWrap{
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.KanbanBoard {
  width: calc(33.3% - 3px);
  background-color: #e8e8e8;
  border-radius: 10px;
  float:left;
  margin-right: 3px;
  overflow: hidden;
  height: 100%;
  padding:0px;
  position: relative;
}

.KanbanBoard:last-child {
  margin-right: 0;
}

.boardTitle {
  width: calc(100% - 45px);
  line-height: 50px;
  margin-top: 20px;
  padding-left: 30px;
  text-align: left;
  height: 50px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.ToDoTitle { border-left : 15px solid #2e2e2e; background-color: #494949; color:white}
.InProgressTitle { border-left : 15px solid #094d9b; background-color: #0d6ee0; color:white}
.DoneTitle { border-left : 15px solid #aaaaaa; background-color: #c5c5c5;}

.KanbanItemNum, .KanbanItemNumWhite {position: absolute; right:20px; font-size: 60px; color:rgba(255, 255, 255, 0.5)}
.KanbanItemNumWhite:last-child {color:rgba(0, 0, 0, 0.5)}

.KanbanItem{
  width: calc(100% - 20px);
  height: 130px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

.KanbanItemIcon {
  width: 50px;
  height: 100%;
  padding: 10px;
  position: absolute;
  right:0px;
}

.KanbanItemIcon img {
  width:100%;
  opacity: 0.4;
}

.KanbanItemPriority{
  display: inline-block;
  padding:2px 10px;
  font-size: 9px;
  color:white;
  width: auto;
  border-radius: 20px;
}

.high {background-color: #9a0924;}
.normal {background-color: #094d9b;}
.low {background-color: #117134;}

.KanbanItemName {
  font-size: 18px;
  display: block;
  line-height: 40px;
}

.KanbanItemDesc {
  font-size: 12px;
  display: block;
  line-height: 18px;
  width: calc(100% - 70px);
  word-break: keep-all;
}

.KanbanItemType {
  position: absolute;
  right: 10px;
  bottom:0;
  color:#ebebeb;
  font-size: 24px;
}

.KanbanItemTypeKorean {
  position: absolute;
  right: 10px;
  bottom:27px;
  color:#ebebeb;
  font-size: 12px;
}

.MileStoneMonitor_Web {
  width: calc(100% - calc(10px * 2));
  height: calc(450px - calc(10px * 2));
  padding : 10px;
  background-color: #2e2e2e;
  color:white;
  margin: 25px 0px;
}

.MileStoneMonitor_WebBorder {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  border: 1px solid white;
  position: relative;
}

.MileStoneSiderBarButton{
  width: calc(100% / 9);
  height: 50px;
  cursor:pointer;
  line-height: 50px;
  text-align: center;
  float : left;
  transition: 0.2s;
}

.MS_Done { background-color: #094d9b;}
.MS_Done:hover { background-color: #064286;}
.MS_InProgress { background-color: #5f5f5f;}
.MS_InProgress:hover { background-color: #848484;}
.MS_ToDo { background-color: #2e2e2e; cursor:wait}
.MS_ToDo:hover { background-color: #373737;}
.MS_Select { background-color: #ffb039 !important; color:black !important;}
.MS_Select:hover { background-color: #e1992e !important;  color:black !important;}

.MileStoneSideBody {
  width: calc(100% - 40px);
  bottom:20px;
  height: calc(100% - 100px);
  margin-top: 20px;
  position: absolute;
  overflow-y: auto;
}

.MileStoneSideBody::-webkit-scrollbar {
  width: 10px;
}
.MileStoneSideBody::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
}
.MileStoneSideBody::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

.MS_Hidden { display: none;}


.MileStoneItem_MS_Result_true { background: linear-gradient(90deg, #2e2e2e, #2e2e2e, #326229, #326229 ); }
.MileStoneItem_MS_Result_false { background: linear-gradient(90deg, #2e2e2e, #2e2e2e, #622929, #622929 ); }
.MileStoneItem_MS_Result_NotYet { background: linear-gradient(90deg, #2e2e2e, #2e2e2e, #202020, #202020 ); }
.MileStoneItem_MS_Result_Process { background: linear-gradient(90deg, #505050, #505050, #1c2f7a, #1c2f7a ); }

.MileStoneItem_MS_Result_NotYet img , .MileStoneItem_MS_Result_false img {filter : grayscale(100%);}

.MileStoneItem {
  width: calc(50% - 70px);
  height: 200px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  margin-bottom : 10px;
  padding : 30px;
  position: relative;
  transition: 0.3s;
  background-position: left;
  background-size: 300%;
  border: 1px solid #515151;
}
.MileStoneItem_MS_Result_true:hover,  .MileStoneItem_MS_Result_false:hover, .MileStoneItem_MS_Result_NotYet:hover , .MileStoneItem_MS_Result_Process:hover{
  background-position: right;
}

.MileStoneItem:nth-child(2n) {
  margin-right: 0px;
}

.MileStoneItemImage {
  width: 140px;
  height: 140px;
  position: absolute;
  left:30;
  background-color: rgba(255,255,255,0.2);
  border-radius: 15px;
}

.MileStoneItemImage img {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}


.MileStoneItemBody {
  width: calc(100% - 190px);
  position:absolute;
  right:0px;
}

.MileStoneItemSub {
  font-size: 12px; color:#ababab
}

.MileStoneItemName {
  font-size: 24px;
}


.MileStoneItemInfo {
  padding : 2px 20px;
  border-radius: 12px;
  display: block;
  width: 70px;
  text-align: center;
  padding-bottom: 5px;
  position:absolute;
  bottom:-50px;
  transform: translate(-50%);
  left:50%;
}

.MS_Result_true { background-color: #428d34;}
.MS_Result_false { background-color: #a83636;}
.MS_Result_NotYet { background-color: #747474;}
.MS_Result_Process { background-color: #374fad;}

.MileStoneItemTable {
  width: 95%;
  text-align: center;
  margin-top: 15px;
}

.MileStoneItemTable tr:first-child {
  background-color: rgba(255,255,255,0.1);
  text-align: center;
}

.MileStoneItemTable td:first-child {
  text-align: left;
}

.MS_TableToDo {color: rgba(255,255,255,0.4)}
.MS_TableProcess {color:#7e7e7e}
.MS_TableDone {color:rgba(255,255,255,0.9)}
.MS_TableCheck {color : rgba(17, 255, 0, 0.9)}

.HDD_MainDiv {
  width: 100%;
  overflow: hidden;
  height: 740px;
  margin: 20px 0px;
}

.HDD_Page {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.HDD_PageButton {
  width: 35px;
  height: 35px;
  background-color: #494949;
  border-radius: 5px;
  color:white;
  display: inline-block;
  line-height: 35px;
  cursor:pointer
}

.HDD_SelectedPageButton {
  background-color: #0d6ee0;
}

.HDD_Item_Hidden {
  display: none;
}

.HDD_Item, .HDD_Item2 {
  margin-bottom: 5px;
  height: 240px;
  border : 1px solid #c6c6c6;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}

.HDD_Item {
  cursor:pointer;
}


.HDD_ItemImg {
  opacity: 0.7;
  filter:blur(1px) grayscale(80%);
  margin: 100;
  left:20px;
  position: absolute;
  width: 300px;
  height: 300px;
  transition: 0.2s;
}

.HDD_Item img {
  width: 100%;
  height: 100%;
}

.HDD_ItemBody {
  display: block;
  position: absolute;
  height: calc(100% - 20px);
  top:10px;
  width: calc(100% - 380px);
  right:20px;
  overflow-x : hidden;
  overflow-y: auto;
}

.HDD_ItemBody::-webkit-scrollbar {
  width: 6px;
}
.HDD_ItemBody::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
}
.HDD_ItemBody::-webkit-scrollbar-track {
  background-color: white;
}



.HDD_ItemName {
  display: inline-block;
  font-size: 30px;
  transition: 0.5s;
}

.HDD_ItemEnglish {
  display: inline-block;
  font-size: 10px;
  color:#8a8a8a;
  margin-left: 10px;
}

.HDD_ItemTable {
  width: 100%;
}

.HDD_ItemTable td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #f2f2f2;
  transition:0.4s;
}

.HDD_ItemTable td:first-child {
  width: 80px;
  background-color: #cdcdcd;
}

.HDD_ItemTableHead td {
  background-color: #cdcdcd;
  color:white;
}

.HDD_Item_hover {
  border : 1px solid #0080ff;
}

.HDD_Item_hover .HDD_ItemName {
  color:#0095ff;
}

.HDD_Item_hover .HDD_ItemImg {
  opacity: 0.9;
  filter:blur(0px) grayscale(0%);
  left:20px;
  width: 320px;
  height: 320px;
}

.HDD_Item_hover .HDD_ItemTable td {
  background-color: #f2f2f2;
}

.HDD_Item_hover .HDD_ItemTable td:first-child {
  background-color: #9dc9dc;
}

.HDD_Item_hover .HDD_ItemTableHead td {
  background-color: #9dc9dc;
}

.efficiency, .notEfficiency {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  background-color: rgb(137, 14, 14);
  color:white;
  font-size: 12px;
  margin-left: 10px;
}

.efficiency {background-color: #2f7220;}

.HDD_Item2 { opacity: 0.8; transition: 0.3s; cursor:not-allowed}
.HDD_Item2_Hover { opacity: 1;}

.HDD_Item2 table {
  width: 100%;
  height: 100%;
  text-align: center;
}

.HDD_Item2 i, .HDD_Item2 span {
  display: block;
  font-size: 20px;
}

.HDD_Item2 i {
  font-size: 40px;
  margin-bottom: 20px;
}

.HDD_Item2 {
  background-color: #dfdfdf;
  color:#b3b3b3;
  vertical-align: middle;
}

.Map_Image {
  width: 100%;
  margin: 20px 0px;
}

.NoteTable {
  width: 100%;border-collapse: collapse;
  margin: 20px 0px 50px 0px;
}

.NoteTable tr {
  border-bottom : 1px solid #eaeaea;
  line-height: 40px;
  cursor:pointer
}

.NoteTable tr:first-child {
  border-top : 1px solid #eaeaea;
  cursor: default;
  line-height: 40px;
  background-color:  #f1f1f1;
}

.NoteTable tr td {
  padding-left: 5px;
  text-align: center;
}

.Note_Title {
  text-align: left !important;
}

.NoteTable tr:hover {
  background-color:  #f7f7f7;
}

.NoteImageDiv {
  overflow: hidden;
  margin: 0; padding:0;
  height: 0px;
  transition: 0.5s;
}

.NoteImageTD:hover {
  background: #FFFFFF;
}

.NoteImageTD img {
  width: 80%;
}

.NoteShow {
  height: 560px !important;
}

.NoteShow2 {
  background-color: #a7d8eb !important;
}


.screenshot_CardDiv {
  width: calc(33.33% - 5px);
  overflow: hidden;
  height: 15vw;
  max-height: 300px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor:pointer;
  position: relative;
  border-radius: 5px;
}

.screenshot_CardDiv img {
  width: 150%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  transition: 0.3s;
  filter : brightness(50%);
}

.screenshot_CardDiv_hover img {
  width: 180%;
}

.screenshot_NoPicture {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  transition: 0.3s;
  width: 100%; height: 100%;
  background-color: #d6d6d6;
  color:#707070;
  text-align: center;
}

.screenshot_CardDiv_hover .screenshot_NoPicture {
  background-color: #bfbfbf;
  cursor: progress;
}

.screenshot_NoPicture i, .screenshot_NoPicture span{
  display: block;
}

.screenshot_NoPicture i {
  font-size: 24px;
  margin-bottom: 15px;
}

.screenshot_CardTitle {
  position: absolute;
  font-size: 20px;
  color:white;
  top:20px;
  left:20px;
}

.screenshot_SubTitle {
  position: absolute;
  font-size: 14px;
  color:white;
  top:55px;
  left:20px;
  border-top: 1px solid white;
  padding-top : 5px;
  padding-right : 20px;
}

.DesktopShow {display: block;}
.MobileShow {display: none;}
.screenshot_PageButton {
  margin: 20px 0px 8px 0px;
}

.screenshot_PageButton {
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  float:left;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
  border-top : solid 1px #d6d6d6;
  border-bottom : solid 1px #d6d6d6;
}

.screenshot_Clickable { background-color: #eaeaea; }
.screenshot_Clickable:hover { background-color: #e0e0e0; }

.screenshot_NoneClickable { background-color: #cfcfcf; cursor:not-allowed; color:#a9a9a9 }
.screenshot_NoneClickable:hover { background-color: #dbdbdb; }

.screenshot_Clicked { background-color: #a5d0ed; cursor:not-allowed; color:#0f4084 }
.screenshot_Clicked:hover { background-color: #82afcc; }

/* ========================================================================================================= */
/*  모바일 버전 코드                                                                                             */
/* ========================================================================================================= */
@media(max-width:1200px) {
  .mainDiv {
    top:20px;
    padding-top:70px;
  }
  
  .mainDiv {
    width:80vw;
    top:15px;
    margin-bottom: 120px;
    border:none;
  }

  .RealBG {
    width: calc(80vw);
    height: calc(calc(80vw) * 0.3333);
  }

  .titleDiv {
    height: 30vw;
  }

  .titleImageDiv {
    height: 30vw;
  }

  .titleImageLogo {
    width : 80%;
    margin-bottom: 10px;
  }

  .MainTitle {
    font-size: 18px;
    background-color: rgba(0,0,0,0.8);
    padding: 5px 15px;
    margin-top: 5px;
  }

  .playInfoTable_Web {
    display: none;
  }

  .playInfoTable_Mobile {
    display: table;
    width: 100%;
    padding-top: 20px;
    text-align: center;
  }

  .playInfoTable_Mobile tr td:first-child {
    background-color : #e8e8e8;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
  }

  .playInfoTable_Mobile tr td:last-child {
    background-color : #f5f5f5;
    font-size: 16px;
    padding: 10px;
  }

  .playInfoSub {
    font-size: 12px;
  }

  .ToDoBar { color : rgba(0,0,0,0) !important;}
  .InProgressBar { color : rgba(0,0,0,0) !important;}
  .DoneBar { color : rgba(0,0,0,0) !important;}

  .KanbanBoardWrap{
    width: 100%;
    overflow: hidden;
    height: 1520px;
  }

  .KanbanBoard {
    width: 100%;
    border-radius: 10px;
    float:none;
    margin :0px;
    margin-bottom: 10px;
    height: 500px;
  }

  .KanbanBoard:last-child {
    margin-bottom: 0;
  }

  .KanbanScrollDiv {
    width: calc(100% - 50px);
    height: 380px;
    bottom:20px;
    padding : 5px;
  }

  .MileStoneMonitor_Web {
    height: 750px;
  }

  .MileStoneSiderBarButton{
    width: calc(100% / 3);
    height: 35px;
    line-height: 35px;
  }

  .MileStoneSideBody {
    width: calc(100% - 40px);
    bottom:20px;
    height: calc(100% - 155px);
    margin-top: 20px;
    position: absolute;
    overflow-y: auto;
  }

  .MileStoneItem {
    width: calc(100% - 20px);
    height: 250px;
    padding : 5px;
  }

  .MileStoneItemImage {
    width: 80px;
    height: 80px;
    left:10px;
  }

  .MileStoneItemImage img {
    width: 64px;
    height: 64px;
  }

  .MileStoneItemInfo {
    font-size:12px;
    padding:2px 7px;
    padding-bottom: 4px;
    width: 55px;
    bottom:-15px;
  }

  .MileStoneItemBody{
    width: 100%;
  }

  .MileStoneItemSub {
    position:absolute;
    left:100px;
  }

  .MileStoneItemName {
    position:absolute;
    top:20px;
    left:100px;
  }

  .MileStoneItemEnglish {
    position:absolute;
    top:60px;
    left:100px;
  }

  .MileStoneItemTable {
    position: absolute;
    width: calc(100% - 20px);
    top:95px;
    left:10px;
  }

  .RealBGDesc {
    right:10px !important;
    top:5px !important;
    text-align: right;
  }

  .HDD_ItemImg {
    margin: 100;
    left:10px;
    position: absolute;
    width: 100px;
    height: 100px;
    transition: 0.2s;
    opacity: 1;
    filter: grayscale(80%);
    z-index: 2;
  }

  .HDD_MainDiv {
    height: 920px;
  }

  .HDD_Item, .HDD_Item2 {
    height: 300px;
  }

  .HDD_ItemBody {
    display: block;
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    right:5px;
    overflow-x : hidden;
    overflow-y: auto;
    padding:10px;
    transition: 0.2s;
  }

  .HDD_ItemName {
    display: block;
    line-height: 35px;
    font-size: 24px;
    margin-left: 135px;
  }

  .HDD_ItemEnglish {
    display: block;
    line-height: 20px;
    font-size: 14px;
    margin-left: 135px;
    margin-bottom: 20px;
  }

  .HDD_Item_hover .HDD_ItemBody {
    opacity: 0.95;
    background-color: #FFFFFFFF;
  }

  .HDD_Item_hover .HDD_ItemImg {
    width: 135px;
    height: 135px;
    filter: grayscale(10%);
    left:5px;
  }

  .NoteTable {font-size:12px;}

  .NoteTable tr td:first-child, 
  .NoteTable tr td:nth-child(3){
    display:none;
  }
 
  .NoteImageTD {
    display: table-cell !important;
  }

  .NoteImageDiv {
    height: 0vw;
  }

  .NoteShow {
    height: 40vw !important;
  }

  .screenshot_NoPicture {
    font-size: 12px;
  }

  .screenshot_NoPicture i {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .screenshot_CardDiv {
    width: calc(50% - 5px);
    height: 50vw;
    max-height: 180px;
  }  

  .screenshot_CardDiv img {
    width: 180%;
    filter : brightness(70%);
  }

  .screenshot_CardDiv_hover img {
    width: 220%;
    filter : brightness(50%);
  }

  .screenshot_CardTitle {
    font: 12px;
    top:10px;
    left:10px;
  }

  .screenshot_SubTitle {
    top:45px;
    left:10px;
    font-size: 10px;
    padding-right:5px;
    margin-right: 20px;
    margin-top: 2px;
    word-break: keep-all;
  }

  .DesktopShow {display: none;}
  .MobileShow {display: block;}
}
